.show
    display: block
.hide
    display: none
.title
    font-family: Verdana, Arial, Helvetica, sans-serif

header
    position: relative
    height: 50px
nav
    overflow: hidden
    width: 100%
    height: 50px
    background-color: #4D4B4C
    z-index: 5
    
.hamburger
    display: none

.house
    min-height: 600px
    background: url("/img/house2.3.jpg") center center/cover no-repeat
    position: relative
    &_img_line1
        display: flex
        justify-content: space-evenly
        &_block
            display: flex
            justify-content: space-evenly
        &_text
            @extend %text-circle-right
        &_block2
            display: flex
        &_text2
            font-weight: 600
            margin-top: 42px
            font-style: 15px
        &_img1
            margin-top: 5px
            width: 118px
            &:hover
                @extend %hover-orange
        &_img2
            margin: 10px 0 0 60px
            &:hover
                @extend %hover-orange
    &_img_line2
        display: flex
        justify-content: space-evenly
        &_img1
            &:hover
                @extend %hover-orange                    
        &_img2
            margin-top: 30px
            &:hover
                @extend %hover-orange            
    &_img_line3
        display: flex
        justify-content: space-around 
        &_img1
            display: block
            margin: 0 auto
            &:hover
                @extend %hover-orange
        &_img2
            &:hover
                @extend %hover-orange            
    &_img_line4
        display: flex
        justify-content: space-evenly
        &_img1
            transform: translate(-80%, -30%)
            &:hover
                @extend %hover-orange
    &_img_line5
        display: flex
        justify-content: space-evenly
        &_img1
            margin-left: 20px
            &:hover
                @extend %hover-orange    
.menu
    display: flex
    justify-content: space-between
    padding: 13px 70px
    margin: 0
    list-style-type: none
    &_link
        color: #ffffff
        font-size: 17px
        font-weight: 600
        text-decoration: none
        &:hover
            color: #e6e6e6
    &_item
        padding-right: 28px
        &:last-child
h1, h2
    font-weight: 600
    text-align: center
    font-size: 22px
    line-height: 34px
    color: #ffffff
    width: 539px
    background: url("/img/bg_h.png") center center/cover no-repeat
    height: 40px
    margin: 15px auto
.card
    margin: 0 auto
    float: none
    margin-bottom: 10px
    &-orders
        display: flex
        justify-content: space-around
    &-img-top
        padding: 12px
    &-title
        text-align: center
        font-weight: 700
    &-text
        margin-bottom: 5px
    &-char
        font-weight: 400
        padding-top: 5px
        text-decoration: underline
        color: #0d6efd
        cursor: pointer
    &-price
        text-decoration: none
        margin-top: 25px
        font-size: 20px
        color: black
        font-weight: 750
        cursor: pointer
        &:hover
            color: black

    .btn
        width: 120px
        height: 40px
        margin: 20px 0 0 20px 
        background-color: $orange
        border: none
        font-weight: 500

footer
    position: relative
    height: 200px
    background-color: #f6f6f7
.footer_menu
    display: flex
    justify-content: space-around
    ul
        list-style-type: none
        li:first-child
            font-weight: 700
            padding-bottom: 10px
            padding-top: 20px
        li
            padding-bottom: 5px
            a
                text-decoration: none 
                color: black
