.show
    display: block
.hide
    display: none
.title
    font-family: Verdana, Arial, Helvetica, sans-serif

header
    position: relative
    height: 50px
nav
    overflow: hidden
    width: 100%
    height: 50px
    background-color: #4D4B4C
    z-index: 5
    
.hamburger
    display: none


.house
    min-height: 600px
    background: url("/img/house2.3.jpg") center center/cover no-repeat
    position: relative
    &_img_line1
        display: flex
        &_block
            display: flex
            justify-content: space-evenly
        &_text
            @extend %text-circle-right
        &_block2
            display: flex
        &_text2
            @extend %text-circle
        &_img1
            margin-top: 5px
            width: 118px
            &:hover
                @extend %hover-orange
        &_img2
            margin: 10px 0 0 60px
            &:hover
                @extend %hover-orange
    &_img_line2
        display: flex
        justify-content: space-evenly
        &_block
            display: flex
            justify-content: flex-start
        &_img1
            height: 100px
            &:hover
                @extend %hover-orange
        &_text1
            @extend %text-circle-right
        &_block2
            display: flex                
        &_img2
            margin-top: 30px
            &:hover
                @extend %hover-orange 
        &_text2
            text-align: center
            margin-top: 65px
            font-weight: 400
            padding-left: 5px
            font-size: 18px
            line-height: 17px
            text-shadow: 1px 1px 2px rgb(0,0,0,0.4)
            &:hover
                cursor: pointer           
    &_img_line3
        display: flex
        justify-content: space-around
        &_block1
            display: flex
            justify-content: flex-start
        &_text1
            margin-top: 35px
            padding-right: 5px
            font-weight: 400
            font-size: 18px
            line-height: 17px
            text-shadow: 1px 1px 2px rgb(0,0,0,0.4)
            &:hover
                cursor: pointer
        &_img1
            &:hover
                @extend %hover-orange
        &_block2
            display: flex
            justify-content: flex-start
        &_img2
            &:hover
                @extend %hover-orange  
        &_text2
            @extend %text-circle         
    &_img_line4
        display: flex
        justify-content: space-evenly
        &_block1
            display: flex
            justify-content: flex-start
        &_img1
            transform: translate(-25%, -20%)
            &:hover
                @extend %hover-orange
        &_text1
            margin-top: 15px
            font-weight: 400
            font-size: 18px
            padding-right: 18px
            line-height: 17px
            transform: translate(-15%, 0%)
            text-shadow: 1px 1px 2px rgb(0,0,0,0.4)
            &:hover
                cursor: pointer
    &_img_line5
        display: flex
        justify-content: space-evenly
        &_block1
            display: flex
        &_text1
            @extend %text-circle
            padding-right: 7px
        &_img1
            &:hover
                @extend %hover-orange    
.menu
    display: flex
    justify-content: space-between
    padding: 13px 70px
    margin: 0
    list-style-type: none
    &_link
        color: #ffffff
        font-size: 17px
        font-weight: 600
        text-decoration: none
        &:hover
            color: #e6e6e6
    &_item
        padding-right: 28px
h1, h2
    font-weight: 600
    text-align: center
    font-size: 22px
    line-height: 34px
    color: #ffffff
    width: 539px
    background: url("/img/bg_h.png") center center/cover no-repeat
    height: 40px
    margin: 15px auto
    a
        text-decoration: none
        color: #ffffff
        pointer-events: none
        cursor: default

.catalog
    padding-top: 5px
    background: url("/img/bg.png") center center/cover no-repeat

.card
    margin: 0 auto
    float: none
    margin-bottom: 20px
    &-orders
        display: flex
        justify-content: space-around
    &-img-top
        padding: 12px
    &-title
        text-align: center
        font-weight: 700
    &-text
        margin-bottom: 5px
    &-char
        font-weight: 400
        padding-top: 5px
        text-decoration: underline
        color: #0d6efd
        cursor: pointer
    &-price
        text-decoration: none
        margin-top: 25px
        font-size: 20px
        color: black
        font-weight: 750
        cursor: pointer
        &:hover
            color: black

    .btn
        width: 120px
        height: 40px
        margin: 20px 0 0 20px 
        background-color: $orange
        border: none
        font-weight: 500

footer
    position: relative
    height: 200px
    background-color: #f6f6f7
.footer_menu
    display: flex
    justify-content: space-around
    ul
        list-style-type: none
        li:first-child
            font-weight: 700
            padding-bottom: 10px
            padding-top: 20px
        li
            padding-bottom: 5px
            a
                text-decoration: none 
                color: black

.grid-container
    display: flex
    justify-content: space-around

.grid-container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px))
    grid-template-rows: repeat(2, minmax(100px, auto))
    grid-auto-rows: minmax(100px, auto)

.grid_elem
    &__img
        margin: 0 auto
    &__descr
        margin-top: 15px
        margin-bottom: 30px
        font-weight: 500
        font-size: 14px
        line-height: 16px

.modal 
    position: fixed 
    top: 0 
    left: 0 
    z-index: 1050 
    width: 100% 
    height: 100% 
    overflow: hidden 
    background-color: rgba(0,0,0,.5) 
    .btn 
        display: block 
        width: 280px 
        margin: 0 auto 
.modal__dialog 
    max-width: 500px
    margin: 40px auto
.modal__content
    position: relative
    width: 100%
    padding: 40px 
    background-color: #fff
    border: 1px solid rgba(0,0,0,.2)
    border-radius: 4px 
    max-height: 80vh 
    overflow-y: auto 
.modal__close 
    position: absolute 
    top: 8px 
    right: 14px
    font-size: 30px 
    color: #000 
    opacity: .5 
    font-weight: 700 
    border: none 
    background-color: transparent 
    cursor: pointer 
.modal__title 
    text-align: center 
    font-size: 22px 
    text-transform: uppercase
.modal__input 
    display: block 
    margin: 20px auto 20px auto 
    width: 280px 
    height: 50px 
    background: #fff 
    box-shadow: 0 4px 15px rgba(0,0,0,.2) 
    border: none 
    font-size: 18px 
    text-align: center 
    padding: 0 20px 
    outline: 0 

