@media (max-width: 1400px)
    .house_img_line1_text
        margin-top: 10px
    .house .grid-elem-1
        margin-left: 100px
    .house .grid-elem-2
        margin-left: 110px
    .house .grid-elem-3
        margin-left: 50px

@media (max-width: 1200px)


@media (max-width: 992px)
