@media (max-width: 1400px)
    .house-pc .grid-container .grid-elem-2
        margin-left: 120px
    .house-pc .grid-container .grid-elem-4
        margin-left: 100px
    .house-pc .grid-container .grid-elem-7
        margin-left: 15px
    .house-pc .grid-container .grid-elem-10
        margin-right: 250px
@media (max-width: 1200px)
    .grid-container
        grid-template-columns: repeat(3, minmax(400px, 500px))
    .house-pc .grid-container .grid-elem-3
        margin-left: 160px
    .house-pc .grid-container .grid-elem-4
        margin-left: 0px
    .house-pc .grid-container .grid-elem-6
        margin-left: 220px
    .house-pc .grid-container .grid-elem-7
        margin-right: 100px
    .house-pc .grid-container .grid-elem-7-2
        margin-left: 1px

@media (max-width: 992px)
    .house-pc
        display: none
    .house-mobile
        display: block
        background: url("/img/house1.1.jpg") center center/cover no-repeat
    h1, h2
        width: auto