@import "var"
.title
    font-family: Verdana, Arial, Helvetica, sans-serif
.headers
    padding: 10px
    display: flex
    justify-content: space-around

.fill
    list-style-type: none
    li
    line-height: 24px
    position: relative
    &::before
        content: ''
        display: block
        position: absolute
        top: 5px
        left: 11px
        width: 15px
        height: 15px
        background: url("../testjs/map.png") center center/cover no-repeat
    &_header
        font-weight: 700
    &_tel a
        color: #000
        &:hover
            color: $main-color
            text-decoration: dotted
    &_adr
        font-size: 12px

.subheader 
    height: 50px
    background-color: #555
    justify-content: space-around
.menu 
    display: flex
    justify-content: space-around
    padding: 10px
    list-style-type: none
    .menu_link
        color: aliceblue
        text-decoration: none
        font-weight: 700
        font-size: 18px
.card
        margin: 0 auto
        float: none
        margin-bottom: 10px
footer
    height: 200px
    background-color: #f6f6f7
.footer_menu
    display: flex
    justify-content: space-around
    ul
        list-style-type: none
        li:first-child
            font-weight: 700
            padding-bottom: 10px
            padding-top: 20px
        li
            padding-bottom: 5px
            a
                text-decoration: none 
                color: black
