.rook{
    display: flex;
    justify-content: space-around
}

.require_list {
    list-style-type: none;
}

.require_list li {
    position: relative;
}

.require_list li:before {
    content: '';
    display: block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 20px;
    height: 20px;
    background: url("/img/") center center/cover no-repeat; 
}
.test {
    height: 200px;
    background-color: #f6f6f7;
    display: flex;
    justify-content: space-around;
}   
